<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Departamentos - 1</title>
  </head>
  <body>
    <h5>Listado de departamentos - {{numero}}</h5>

    {% for departamento in datos %}

    <ol>
      <li><b>Nombre Propietario: </b>{{departamento['nombrePropietario']}}</li>
      <li><b>Costo: </b>{{departamento['costo']}}</li>
      <li><b>Número de Cuartos: </b>{{departamento['num_cuartos']}}</li>
      <li><b>Edificio: </b>{{departamento['edificio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
